
header{
    background-color: white;
    height: 10vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
    "logo navbar";
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
    position: sticky;
    top:0;
    z-index: 2;
}

body{
    background-image: white;
}

#logo{
    margin-left: 15px;
}

#navbar{
    grid-area: navbar; 
    justify-self: right;
    display: grid;
    grid-template-areas:
    "campaign account log-out nav-profile-pic";
    grid-gap: 15px;
    margin-right: 15px;
}

#log-out{
    grid-area: log-out;
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
}

a{
    color: grey;
    font-weight: 500;
    font-size: 20pt;
}

#campaign{
    grid-area: campaign;
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
}

#account{
    grid-area: account;
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
}

#nav-profile-pic{
    grid-area: nav-profile-pic;
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

#main-profile-pic{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
#main-profile-pic:hover{
    -moz-box-shadow:    3px 3px 5px 6px grey;
    -webkit-box-shadow: 3px 3px 5px 6px grey;
    box-shadow:         3px 3px 5px 6px grey;
    transition: all 0.3s ease-in-out;
    
}

h1{
    font-family: Helvetica, sans-serif;
    font-size: 24pt;
    font-weight: 600;
}

h2{
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 20pt;
    font-weight: 600;
}

h4{
    font-family: Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 600;
}

h5{
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 600;
}

.cq{
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 600;
}


.wrapper{
    display:grid;
    grid-template-columns: repeat(2, 0.8fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 200px;
}

.nested{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 70px;
    grid-gap:20px; 
}

h3{
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 600;
}

#demo{
    font-family: Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 600;
}

.progress{
    height: 20px;
    width: 500px;
    background-color: black;
    border-radius: 25px;
    
}
/* .progress:hover{
    transform: scale(1.1);
} */

.progress-done{
    height: 100%;
    width: 240px;
    background-color:#85cb33;
    border-radius: 25px 0 0 25px;
    justify-content:center;
    align-items: center;
    display:flex;
    font-size: 10pt;
    color: black;
    font-family: Helvetica, sans-serif;
}

#bg{
    border: 4px solid black;
    border-radius: 25px;
    padding: 20px;
    background-color: white;
    transition: all 1s ease-in-out;
    color: black;
}
#bg:hover{
    transform: scale(1.05);
    transition: all 1s ease-in-out;
    box-shadow: 2px 12px 2px 1px grey;
}
#fig_el142141402708265418887551933997{
    transition: all 1s ease-in-out;
}
#fig_el142141402708265418887551933997:hover{
    transform: scale(0.9);
    transition: all 1s ease-in-out;
}
#fig_el325561404520378285607369197345{
    transition: all 1s ease-in-out;
}
#fig_el325561404520378285607369197345:hover{
    transform: scale(0.9);
    transition: all 1s ease-in-out;
}

.nested-2{
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 70px;
    grid-gap:20px; 
    padding-left: 75px;
}

.wrapper-2{

    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto)
}

input{
    border-radius: 1em 1em 1em 1em;
    padding: 0 10px;
    width: 20em;
    border-color: black;
    line-height: 2em;
    margin-bottom: 5px;
}
  
textarea{
    border-radius: 1em 1em 1em 1em;
    padding: 0 10px;
    width: 20em;
    border-color: black;
    line-height: 2em;
    margin-bottom: 10px;
}

.color-btn{
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    padding: 0 10px;
    width: 10em;
    line-height:3em;
    color:black;
    background-color:white;  
    border-color:black;
    font-size: 11pt;
}

.color-btn:hover{
 background-color:black;
 color: white;
 border-color: white;

}

.question-btn{
    font-size: 2rem;
    background: white;
    border-color: transparent;
    cursor: pointer;
    color: black;
}

.question-title{
    display:grid;
    justify-self: center;
}
.question{
    transition: all 0.7s ease-in-out;
}

.question:hover{
    transform: scale(1.1);
    transition: all 0.7s ease-in-out;
}
  
.question-text{
    border-top: 1px solid black;
    padding-bottom: 8px;
    line-height: 1.6;
    display: none;
}
  
.show-text .question-text{
    display: block;
}
  
.show-text .question-btn{
    transform: rotate(180deg)
}


