header{
    background-color: black;
    height: 10vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
    "logo navbar";
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
    position: fixed;
    top:0;
}

#logo{
    margin-left: 15px;
}

#navbar{
    grid-area: navbar; 
    justify-self: right;
    display: grid;
    grid-template-areas:
    "campaign account log-out nav-profile-pic";
    grid-gap: 15px;
    margin-right: 15px;   
}

#log-out{
    grid-area: log-out;
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
}

a{
    color: grey;
    font-weight: 500;
    font-size: 20pt;
}
a:hover{
    color: blue;
    font-weight: 500;
    font-size: 20pt;
}

#campaign{
    grid-area: campaign;
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
}
#account{
    grid-area: account;
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
}

#nav-profile-pic{
    grid-area: nav-profile-pic;
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

body{
    background-color: black;
    color: white;
}

.wrapper{
    display:grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 50px;
}

h4{
    font-family: Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 600;
}

form{
    display: grid;
    justify-content: center;
}
input{
    border-radius: 1em 1em 1em 1em;
    padding: 0 10px;
    width: 40em;
    border-color: black;
    line-height: 6em;
    margin-bottom: 15px;
    transition: all 0.7s ease-in-out;
    
}

input:hover{
transform: scale(1.3);
transition: all 0.7s ease-in-out;
}

textarea{
    border-radius: 1em 1em 1em 1em;
    padding: 0 30px;
    width: 40em;
    border-color: black;
    line-height: 6em;
    margin-bottom: 15px;
}

button{
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    padding: 0 10px;
    width: 10em;
    line-height:3em;
    color:black;
    background-color:white;  
    border-color:black;
    font-size: 11pt;
}

button:hover{
 background-color:black;
 color: white;
 border-color: white;
}

.report-card {
    border: white dashed 2px;
    width: 400px;
    margin: 20px; 
    font-style: italic;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    color: white;
    font-size: 16pt;
}